<%= form_for(@city_designation_achievement) do |f| %>
  <% if @city_designation_achievement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@city_designation_achievement.errors.count, "error") %> prohibited this City Designation Achievement from being saved:</h2>

      <ul>
      <% @city_designation_achievement.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date %>
    <%= f.text_field :date, {class: 'datepicker'} %>
  </div>
  <div class="field">
    <%= f.label :cities %>
    <%= f.collection_select :city_id, @cities, :id, :name_and_state, {}, {class: 'multiselect', multiple: false} %>
    <%= link_to "Add / Edit", new_heal_city_path %>
  </div>
  <div class="field">
    <%= f.label "HEAL City Designation" %>
    <%= f.collection_select :city_designation_id, @city_designations, :id, :name, {}, {class: 'multiselect', multiple: false} %>
    <%= link_to "Add / Edit", new_heal_city_designation_path %>
  </div>
  <div class="field">
    <%= f.label :notes %><br>
    <%= f.text_area :notes, rows: 10 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
