<%= form_for(@city_designation_achievement) do |f| %>
  <% if @city_designation_achievement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@city_designation_achievement.errors.count, "error") %> prohibited this city_designation_achievement from being saved:</h2>

      <ul>
      <% @city_designation_achievement.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :database_instance_id %><br>
    <%= f.number_field :database_instance_id %>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :city_id %><br>
    <%= f.number_field :city_id %>
  </div>
  <div class="field">
    <%= f.label :city_designation_id %><br>
    <%= f.number_field :city_designation_id %>
  </div>
  <div class="field">
    <%= f.label :notes %><br>
    <%= f.text_area :notes %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
