<br xmlns="http://www.w3.org/1999/html"/>
<h1><%="Achievement for #{@city_designation_achievement.city.name_and_state if @city_designation_achievement.city.present?}" %></h1>

<p>
  <strong>Date:</strong>
  <%= @city_designation_achievement.date %>
</p>

<p>
  <strong>City:</strong>
  <%= @city_designation_achievement.city.name_and_state if @city_designation_achievement.city.present? %>
</p>

<p>
  <strong>City designation:</strong>
  <%= @city_designation_achievement.city_designation.name if @city_designation_achievement.city_designation.present? %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @city_designation_achievement.notes %>
</p>

<% if has_write_permissions? %>
  <%= link_to 'Edit', edit_heal_city_designation_achievement_path(@city_designation_achievement) %> |
<% end %>
<%= link_to "Back", :back %>
