<h1>Listing milestones</h1>

<table>
  <thead>
    <tr>
      <th>Database instance</th>
      <th>Name</th>
      <th>Order in list</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @milestones.each do |milestone| %>
      <tr>
        <td><%= milestone.database_instance_id %></td>
        <td><%= milestone.name %></td>
        <td><%= milestone.order_in_list %></td>
        <td><%= link_to 'Show', milestone %></td>
        <td><%= link_to 'Edit', edit_milestone_path(milestone) %></td>
        <td><%= link_to 'Destroy', milestone, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Milestone', new_milestone_path %>
