<%= form_for([:heal, @honorific]) do |f| %>
  <% if @honorific.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@honorific.errors.count, "error") %> prohibited this honorific from being saved:</h2>

      <ul>
      <% @honorific.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :order_in_list %><br>
    <%= f.number_field :order_in_list %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
