<h1>Jurisdiction Types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Order in list</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @jurisdiction_types.each do |jurisdiction_type| %>
      <tr>
        <td><%= jurisdiction_type.name %></td>
        <td><%= jurisdiction_type.order_in_list %></td>
        <td><%= link_to 'Show', jurisdiction_type %></td>
        <td><%= link_to 'Edit', edit_jurisdiction_type_path(jurisdiction_type) %></td>
        <td><%= link_to 'Destroy', jurisdiction_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Jurisdiction type', new_jurisdiction_type_path %>
