<%= form_for(@city) do |f| %>
  <% if @city.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@city.errors.count, "error") %> prohibited this city from being saved:</h2>

      <ul>
      <% @city.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :county %>
    <%= f.text_field :county %>
  </div>
  <div class="field">
    <%= f.label :state %>
    <%= f.text_field :state %>
  </div>
  <div class="field">
    <%= f.label :jurisdiction_type %>
    <%= f.collection_select :jurisdiction_type_id, @jurisdiction_types, :id, :name, {}, {class: 'multiselect', multiple: false} %>
    <%= link_to "Add / Edit", new_heal_jurisdiction_type_path %>
  </div>
  <div class="field">
    <%= f.label :league_division %>
    <%= f.collection_select :league_division_id, @league_divisions, :id, :name, {include_blank: true}, {class: 'multiselect', multiple: false} %>
    <%= link_to "Add / Edit", new_heal_league_division_path %>
  </div>
  <div class="field">
    <%= f.label :population %>
    <%= f.number_field :population %>
  </div>
  <div class="field">
    <%= f.label :percent_obesity %>
    <%= f.number_field :percent_obesity, in: 0..100, step: 0.1 %>
  </div>
  <div class="field">
    <%= f.label :kp_service_area %>
    <%= f.check_box :kp_service_area %>
  </div>
  <div class="field">
    <%= f.label "Under-resourced or disease-burdened" %>
    <%= f.check_box :under_resourced_or_disease_burden %>
  </div>
  <div class="field">
    <%= f.label :state_median_income %>
    <%= f.text_field :state_median_income %>
  </div>
  <div class="field">
    <%= f.label :city_median_income %>
    <%= f.text_field :city_median_income %>
  </div>
  <div class="field">
    <%= f.label :minorities_more_than_fifteen_percent %>
    <%= f.check_box :minorities_more_than_fifteen_percent %>
  </div>
  <div class="field">
    <%= f.label "% White alone" %>
    <%= f.number_field :percent_white_alone, in: 0..100, step: 0.01 %>
  </div>
  <div class="field">
    <%= f.label '% Not "White alone"' %>
    <%= f.number_field :percent_not_white_alone, in: 0..100, step: 0.01 %>
  </div>
  <div class="field">
    <%= f.label "% African American alone" %>
    <%= f.number_field :percent_african_american_alone, in: 0..100, step: 0.01 %>
  </div>
  <div class="field">
    <%= f.label "% American Indian and Alaska Native alone" %>
    <%= f.number_field :percent_native_american_alone, in: 0..100, step: 0.01 %>
  </div>
  <div class="field">
    <%= f.label "% Asian Alone" %>
    <%= f.number_field :percent_asian_alone, in: 0..100, step: 0.01 %>
  </div>
  <div class="field">
    <%= f.label "% Native Hawaiian and Other Pacific Islander alone" %>
    <%= f.number_field :percent_pacific_islander_alone, in: 0..100, step: 0.01 %>
  </div>
  <div class="field">
    <%= f.label "% Some Other Race alone" %>
    <%= f.number_field :percent_other_race_alone, in: 0..100, step: 0.01 %>
  </div>
  <div class="field">
    <%= f.label "% Two or More Races" %>
    <%= f.number_field :percent_two_or_more_races, in: 0..100, step: 0.01 %>
  </div>


  <div class="field">
    <%= f.label "General Plan / Policy Change in Progress" %>
    <%= f.check_box :policy_change_in_progress %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
