<%= form_for(@city) do |f| %>
  <% if @city.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@city.errors.count, "error") %> prohibited this city from being saved:</h2>

      <ul>
      <% @city.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :county %><br>
    <%= f.text_field :county %>
  </div>
  <div class="field">
    <%= f.label :state %><br>
    <%= f.text_field :state %>
  </div>
  <div class="field">
    <%= f.label :jurisdiction_type %><br>
    <%= f.collection_select :jurisdiction_type_id, @jurisdiction_types, :id, :name %>
    <%= link_to "Add / Edit", new_heal_jurisdiction_type_path %>
  </div>
  <div class="field">
    <%= f.label :league_division %><br>
    <%= f.collection_select :league_division_id, @league_divisions, :id, :name %>
    <%= link_to "Add / Edit", new_heal_league_division_path %>
  </div>
  <div class="field">
    <%= f.label :population %><br>
    <%= f.number_field :population %>
  </div>
  <div class="field">
    <%= f.label :kp_service_area %><br>
    <%= f.check_box :kp_service_area %>
  </div>
  <div class="field">
    <%= f.label :under_resourced_or_disease_burden %><br>
    <%= f.check_box :under_resourced_or_disease_burden %>
  </div>
  <div class="field">
    <%= f.label :state_median_income %><br>
    <%= f.text_field :state_median_income %>
  </div>
  <div class="field">
    <%= f.label :city_median_income %><br>
    <%= f.text_field :city_median_income %>
  </div>
  <div class="field">
    <%= f.label "HEAL City Designation" %><br>
    <%= f.collection_select :city_designation_id, @city_designations, :id, :name, include_blank: true %>
    <%= link_to "Add / Edit", new_heal_city_designation_path %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
