<h1>Cities</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>County</th>
      <th>State</th>
      <th>Jurisdiction Type</th>
      <th>League Division</th>
      <th>Population</th>
      <th>In KP Service Area</th>
      <th>Under-Resourced or Disease Burdened Area</th>
      <th>State Median Income</th>
      <th>City Median Income</th>
      <th>HEAL City Designation</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @cities.each do |city| %>
      <tr>
        <td><%= city.name %></td>
        <td><%= city.county %></td>
        <td><%= city.state %></td>
        <td><%= city.jurisdiction_type.name %></td>
        <td><%= city.league_division.name %></td>
        <td><%= number_with_delimiter(city.population) %></td>
        <td><%= show_boolean(city.kp_service_area) %></td>
        <td><%= show_boolean(city.under_resourced_or_disease_burden) %></td>
        <td><%= number_to_currency(city.state_median_income, precision: 0) %></td>
        <td><%= number_to_currency(city.city_median_income, precision: 0) %></td>
        <td><%= city.city_designation.name if city.city_designation.present? %></td>
        <td><%= link_to 'Show', city %></td>
        <td><%= link_to 'Edit', edit_heal_city_path(city) %></td>
        <td><%= link_to 'Destroy', city, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New City', new_heal_city_path %>
