<h1>Cities</h1>

<div class="filter">
  <%= form_tag request.path, method: 'get' do %>
    <div class="field">
      <%= label_tag :name %>
      <%= text_field_tag :name, params[:name] %>
    </div>
    <div class="field">
      <%= label_tag :state %>
      <%= text_field_tag :state, params[:state] %>
    </div>
    <div class="field">
      <%= label_tag :county %>
      <%= text_field_tag :county, params[:county] %>
    </div>
    <div class="field">
      <%= label_tag :jurisdiction_type %>
      <%= select_tag :jurisdiction_type_id, options_from_collection_for_select(@jurisdiction_types,:id,:name,params[:jurisdiction_type_id]), { :include_blank => true } %>
    </div>
    <div class="field">
      <%= label_tag :league_division %>
      <%= select_tag :league_division_id, options_from_collection_for_select(@league_divisions,:id,:name,params[:league_division_id]), { :include_blank => true } %>
    </div>
    <div class="field">
      <%= label_tag :min_population %>
      <%= text_field_tag :min_population, params[:min_population] %>
    </div>
    <div class="field">
      <%= label_tag :max_population %>
      <%= text_field_tag :max_population, params[:max_population] %>
    </div>
    <div class="field">
      <%= label_tag :in_kp_service_area %>
      <%= select_tag :in_kp_service_area, options_for_select(["Yes", "No"],params[:in_kp_service_area]), { :include_blank => true } %>
    </div>
    <div class="field">
      <%= label_tag :under_resourced_or_disease_burdened %>
      <%= select_tag :under_resourced_or_disease_burdened, options_for_select(["Yes", "No"],params[:under_resourced_or_disease_burdened]), { :include_blank => true } %>
    </div>
    <div class="field">
      <%= label_tag :min_state_median_income %>
      <%= text_field_tag :min_state_median_income, params[:min_state_median_income] %>
    </div>
    <div class="field">
      <%= label_tag :max_state_median_income %>
      <%= text_field_tag :max_state_median_income, params[:max_state_median_income] %>
    </div>
    <div class="field">
      <%= label_tag :min_city_median_income %>
      <%= text_field_tag :min_city_median_income, params[:min_city_median_income] %>
    </div>
    <div class="field">
      <%= label_tag :max_city_median_income %>
      <%= text_field_tag :max_city_median_income, params[:max_city_median_income] %>
    </div>
    <div class="field">
      <%= label_tag :city_designation %>
      <%= select_tag :city_designation_id, options_from_collection_for_select(@city_designations,:id,:name,params[:city_designation_id]), { :include_blank => true } %>
    </div>
    <div class="actions">
      <%= submit_tag "Search" %>
    </div>
  <% end %>
</div>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>County</th>
      <th>State</th>
      <th>Jurisdiction Type</th>
      <th>League Division</th>
      <th>Population</th>
      <th>In KP Service Area</th>
      <th>Under-Resourced or Disease Burdened Area</th>
      <th>State Median Income</th>
      <th>City Median Income</th>
      <th>HEAL City Designation</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @cities.each do |city| %>
      <tr>
        <td><%= city.name %></td>
        <td><%= city.county %></td>
        <td><%= city.state %></td>
        <td><%= city.jurisdiction_type.name %></td>
        <td><%= city.league_division.name %></td>
        <td><%= number_with_delimiter(city.population) %></td>
        <td><%= show_boolean(city.kp_service_area) %></td>
        <td><%= show_boolean(city.under_resourced_or_disease_burden) %></td>
        <td><%= number_to_currency(city.state_median_income, precision: 0) %></td>
        <td><%= number_to_currency(city.city_median_income, precision: 0) %></td>
        <td><%= city.city_designation.name if city.city_designation.present? %></td>
        <td><%= link_to 'Show', city %></td>
        <td><%= link_to 'Edit', edit_heal_city_path(city) %></td>
        <td><%= link_to 'Destroy', city, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @cities %>
<br>

<%= link_to 'New City', new_heal_city_path %>
