<h1>Cities</h1>

<%= link_to 'New City', new_heal_city_path, class: "link-to-new" if has_write_permissions? %>
<br><br>

<div class="filter">
  <%= form_tag request.path, method: 'get' do %>
    <div class="field">
      <%= label_tag :name %>
      <%= text_field_tag :name, params[:name] %>
    </div>
    <div class="field">
      <%= label_tag :state %>
      <%= text_field_tag :state, params[:state] %>
    </div>
    <div class="field">
      <%= label_tag :county %>
      <%= text_field_tag :county, params[:county] %>
    </div>
    <div class="field">
      <%= label_tag :jurisdiction_type %>
      <%= select_tag :jurisdiction_type_id, options_from_collection_for_select(@jurisdiction_types,:id,:name,params[:jurisdiction_type_id]), { :include_blank => true, class: 'multiselect', multiple: false } %>
    </div>
    <div class="field">
      <%= label_tag :league_division %>
      <%= select_tag :league_division_id, options_from_collection_for_select(@league_divisions,:id,:name,params[:league_division_id]), { :include_blank => true, class: 'multiselect', multiple: false } %>
    </div>
    <div class="field">
      <%= label_tag :min_population %>
      <%= number_field_tag :min_population, params[:min_population] %>
    </div>
    <div class="field">
      <%= label_tag :max_population %>
      <%= number_field_tag :max_population, params[:max_population] %>
    </div>
    <div class="field">
      <%= label_tag :min_percent_obesity %>
      <%= number_field_tag :min_percent_obesity, params[:min_percent_obesity] %>
    </div>
    <div class="field">
      <%= label_tag :max_percent_obesity %>
      <%= number_field_tag :max_percent_obesity, params[:max_percent_obesity] %>
    </div>
    <div class="field">
      <%= label_tag :kp_service_area %>
      <%= select_tag :kp_service_area, options_for_select(get_yes_no_options_list,params[:kp_service_area]), { :include_blank => true, class: 'multiselect', multiple: false } %>
    </div>
    <div class="field">
      <%= label_tag :under_resourced_or_disease_burdened %>
      <%= select_tag :under_resourced_or_disease_burden, options_for_select(get_yes_no_options_list,params[:under_resourced_or_disease_burden]), { :include_blank => true, class: 'multiselect', multiple: false } %>
    </div>
    <div class="field">
      <%= label_tag :min_state_median_income %>
      <%= number_field_tag :min_state_median_income, params[:min_state_median_income] %>
    </div>
    <div class="field">
      <%= label_tag :max_state_median_income %>
      <%= number_field_tag :max_state_median_income, params[:max_state_median_income] %>
    </div>
    <div class="field">
      <%= label_tag :min_city_median_income %>
      <%= number_field_tag :min_city_median_income, params[:min_city_median_income] %>
    </div>
    <div class="field">
      <%= label_tag :max_city_median_income %>
      <%= number_field_tag :max_city_median_income, params[:max_city_median_income] %>
    </div>
    <div class="field">
      <%= label_tag :city_designation, "Current City Designation"%>
      <%= select_tag :city_designation_id, content_tag(:option,'', value: "" ) + content_tag(:option,'[none]',value: HealHelper::NONE_OF_THE_ABOVE_VALUE_IN_DROPDOWN, selected: (params[:city_designation_id] == HealHelper::NONE_OF_THE_ABOVE_VALUE_IN_DROPDOWN) ) + options_from_collection_for_select(@city_designations,:id,:name,params[:city_designation_id]), {class: 'multiselect', multiple: false} %>
    </div>
    <div class="field">
      <%= label_tag "General Plan / Policy Change in Progress" %>
      <%= select_tag :policy_change_in_progress, options_for_select(get_yes_no_options_list,params[:policy_change_in_progress]), { include_blank: true, class: 'multiselect', multiple: false } %>
    </div>
    <div class="actions">
      <%= submit_tag "Filter", class: "btn btn-large btn-primary" %>
    </div>
  <% end %>
</div>

<% if @cities.nil? || @cities.count == 0 %>
  <div class="no_data">No data has been entered, or no data matches the filter above.</div>
<% else %>
  <p>
    <%= link_to "Download to Excel", heal_cities_path(format: "xlsx") + "?" + request.query_string, class:"link-to-download" %>
  </p>

  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>State</th>
        <th>County</th>
        <th>Jurisdiction Type</th>
        <th>League Division</th>
        <th>Population</th>
        <th>% Obesity</th>
        <th>In KP Service Area</th>
        <th>Under-Resourced or Disease Burdened Area</th>
        <th>State Median Income</th>
        <th>City Median Income</th>
        <th>HEAL City Designation <%= link_to "add", new_heal_city_designation_achievement_path %></th>
        <th>General Plan / Policy Change in Progress</th>
        <% if has_write_permissions? %>
          <th></th>
          <th></th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% @cities.each do |city| %>
        <tr>
          <td><%= city.name %></td>
          <td><%= city.state %></td>
          <td><%= city.county %></td>
          <td><%= city.jurisdiction_type.name if city.jurisdiction_type.present?%></td>
          <td><%= city.league_division.name if city.league_division.present?%></td>
          <td><%= number_with_delimiter(city.population) %></td>
          <td><%= show_percentage(city.percent_obesity) %></td>
          <td><%= show_boolean(city.kp_service_area) %></td>
          <td><%= show_boolean(city.under_resourced_or_disease_burden) %></td>
          <td><%= number_to_currency(city.state_median_income, precision: 0) %></td>
          <td><%= number_to_currency(city.city_median_income, precision: 0) %></td>
          <td class="black <%= get_city_designation_class(city) %>"><%= show_city_designation_achievements_list(city) %>
          <td><%= show_boolean(city.policy_change_in_progress) %></td>
          <% if has_write_permissions? %>
            <td><%= link_to 'Edit', edit_heal_city_path(city) %></td>
            <td><%= link_to 'Delete', city, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= will_paginate @cities %>
<% end %>