<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @city.name %>
</p>

<p>
  <strong>County:</strong>
  <%= @city.county %>
</p>

<p>
  <strong>State:</strong>
  <%= @city.state %>
</p>

<p>
  <strong>Jurisdiction type:</strong>
  <%= @city.jurisdiction_type_id %>
</p>

<p>
  <strong>League division:</strong>
  <%= @city.league_division_id %>
</p>

<p>
  <strong>Population:</strong>
  <%= @city.population %>
</p>

<p>
  <strong>Kp service area:</strong>
  <%= @city.kp_service_area %>
</p>

<p>
  <strong>Under resourced or disease burden:</strong>
  <%= @city.under_resourced_or_disease_burden %>
</p>

<p>
  <strong>State median income:</strong>
  <%= @city.state_median_income %>
</p>

<p>
  <strong>City median income:</strong>
  <%= @city.city_median_income %>
</p>

<p>
  <strong>Heal city designation:</strong>
  <%= @city.HEAL_city_designation_id %>
</p>

<%= link_to 'Edit', edit_heal_city_path(@city) %> |
<%= link_to 'Back', heal_cities_path %>
