<br />
<h1><%= "#{@city.name}, #{@city.state}"%></h1>
<div class="show_cities">
  <p>
    <span class="field_name">Name:</span>
    <%= @city.name %>
  </p>

  <p>
    <span class="field_name">County:</span>
    <%= @city.county %>
  </p>

  <p>
    <span class="field_name">State:</span>
    <%= @city.state %>
  </p>

  <p>
    <span class="field_name">Jurisdiction type:</span>
    <%= @city.jurisdiction_type.name if @city.jurisdiction_type.present?%>
  </p>

  <p>
    <span class="field_name">League division:</span>
    <%= @city.league_division.name if @city.league_division.present?%>
  </p>

  <p>
    <span class="field_name">Population:</span>
    <%= number_with_delimiter(@city.population) %>
  </p>

  <p>
    <span class="field_name">% Obesity:</span>
    <%= show_percentage(@city.percent_obesity) %>
  </p>

  <p>
    <span class="field_name">KP service area:</span>
    <%= show_boolean(@city.kp_service_area) %>
  </p>

  <p>
    <span class="field_name">Under-resourced or disease-burdened:</span>
    <%= show_boolean(@city.under_resourced_or_disease_burden) %>
  </p>

  <p>
    <span class="field_name">State median income:</span>
    <%= number_to_currency(@city.state_median_income,precision: 0) %>
  </p>

  <p>
    <span class="field_name">City median income:</span>
    <%= number_to_currency(@city.city_median_income,precision: 0) %>
  </p>

  <p>
    <span class="field_name">Minorities > 15%:</span>
    <%= show_boolean(@city.minorities_more_than_fifteen_percent) %>
  </p>
  <p>
    <span class="field_name">% White alone:</span>
    <%= number_to_percentage(@city.percent_white_alone, precision:2)  %>
  </p>
  <p>
    <span class="field_name">% Not "White Alone":</span>
    <%= number_to_percentage(@city.percent_not_white_alone, precision:2) %>
  </p>
  <p>
    <span class="field_name">% African American alone:</span>
    <%= number_to_percentage(@city.percent_african_american_alone, precision:2) %>
  </p>
  <p>
    <span class="field_name">% American Indian and Alaska Native alone:</span>
    <%= number_to_percentage(@city.percent_native_american_alone, precision:2) %>
  </p>
  <p>
    <span class="field_name">% Asian alone:</span>
    <%= number_to_percentage(@city.percent_asian_alone, precision:2) %>
  </p>
  <p>
    <span class="field_name">% Native Hawaiian and Other Pacific Islander alone:</span>
    <%= number_to_percentage(@city.percent_pacific_islander_alone, precision:2) %>
  </p>
  <p>
    <span class="field_name">% Some Other Race alone:</span>
    <%= number_to_percentage(@city.percent_other_race_alone, precision:2) %>
  </p>
  <p>
    <span class="field_name">% Two or More Races:</span>
    <%= number_to_percentage(@city.percent_two_or_more_races, precision:2) %>
  </p>
  <p>
    <span class="field_name">General Plan / Policy Change in Progress:</span>
    <%= show_boolean(@city.policy_change_in_progress) %>
  </p>
</div>

<% if has_write_permissions? %>
  <%= link_to 'Edit', edit_heal_city_path(@city) %> |
<% end %>
<%= link_to "Index", heal_cities_path %> |
<%= link_to "Back", :back %>
