<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @city.name %>
</p>

<p>
  <strong>County:</strong>
  <%= @city.county %>
</p>

<p>
  <strong>State:</strong>
  <%= @city.state %>
</p>

<p>
  <strong>Jurisdiction type:</strong>
  <%= @city.jurisdiction_type.name %>
</p>

<p>
  <strong>League division:</strong>
  <%= @city.league_division.name %>
</p>

<p>
  <strong>Population:</strong>
  <%= number_with_delimiter(@city.population) %>
</p>

<p>
  <strong>Kp service area:</strong>
  <%= show_boolean(@city.kp_service_area) %>
</p>

<p>
  <strong>Under resourced or disease burden:</strong>
  <%= show_boolean(@city.under_resourced_or_disease_burden) %>
</p>

<p>
  <strong>State median income:</strong>
  <%= number_to_currency(@city.state_median_income,precision: 0) %>
</p>

<p>
  <strong>City median income:</strong>
  <%= number_to_currency(@city.city_median_income,precision: 0) %>
</p>

<p>
  <strong>Heal city designation:</strong>
  <%= @city.city_designation.name if @city.city_designation.present? %>
</p>

<%= link_to 'Edit', edit_heal_city_path(@city) %> |
<%= link_to 'Index', heal_cities_path %>
