<p>
  <strong>Name:</strong>
  <%= @city.name %>
</p>

<p>
  <strong>County:</strong>
  <%= @city.county %>
</p>

<p>
  <strong>State:</strong>
  <%= @city.state %>
</p>

<p>
  <strong>Jurisdiction type:</strong>
  <%= @city.jurisdiction_type.name if @city.jurisdiction_type.present?%>
</p>

<p>
  <strong>League division:</strong>
  <%= @city.league_division.name if @city.league_division.present?%>
</p>

<p>
  <strong>Population:</strong>
  <%= number_with_delimiter(@city.population) %>
</p>

<p>
  <strong>Kp service area:</strong>
  <%= show_boolean(@city.kp_service_area) %>
</p>

<p>
  <strong>Under resourced or disease burdened:</strong>
  <%= show_boolean(@city.under_resourced_or_disease_burden) %>
</p>

<p>
  <strong>State median income:</strong>
  <%= number_to_currency(@city.state_median_income,precision: 0) %>
</p>

<p>
  <strong>City median income:</strong>
  <%= number_to_currency(@city.city_median_income,precision: 0) %>
</p>

<p>
  <strong>General Plan / Policy Change in Progress:</strong>
  <%= show_boolean(@city.policy_change_in_progress) %>
</p>

<% if has_write_permissions? %>
  <%= link_to 'Edit', edit_heal_city_path(@city) %> |
<% end %>
<%= link_to 'Back to Index', heal_cities_path %>
