<%= form_for(@user_permission) do |f| %>
  <% if @user_permission.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_permission.errors.count, "error") %> prohibited this user_permission from being saved:</h2>

      <ul>
      <% @user_permission.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :database_instance %><br>
    <%= f.collection_select :database_instance_id, @database_instances, :id, :name, {}, {class: 'multiselect', multiple: false} %>
  </div>
  <div class="field">
    <%= f.label :user %><br>
    <%= f.collection_select :user_id, @users, :id, :first_and_last_name, {}, {class: 'multiselect', multiple: false} %>
  </div>
  <div class="field">
    <%= f.label :read_only %><br>
    <%= f.check_box :read_only %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
