<h1>Listing User Permissions</h1>

<%= link_to 'New User Permission', new_user_permission_path, class: "link-to-new" %>
<br><br>

<table>
  <thead>
    <tr>
      <th>Database instance</th>
      <th>User</th>
      <th>Read only</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @user_permissions.each do |user_permission| %>
      <tr>
        <td><%= user_permission.database_instance.name %></td>
        <td><%= user_permission.user.first_and_last_name %></td>
        <td><%= show_boolean(user_permission.read_only) %></td>
        <td><%= link_to 'Edit', edit_user_permission_path(user_permission) %></td>
        <td><%= link_to 'Delete', user_permission, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @user_permissions %>
<br>