<h1>Listing User Permissions</h1>

<%= link_to 'New User Permission', new_user_permission_path, class: "link-to-new" %>
<br><br>

<div class="filter">
  <%= form_tag request.path, method: 'get' do %>
    <div class="field">
      <%= label_tag :database_instance %>
      <%= select_tag :database_instance_id, options_from_collection_for_select(@database_instances,:id,:instance_name,params[:database_instance_id]), { :include_blank => true, class: 'multiselect', multiple: false } %>
    </div>
    <div class="field">
      <%= label_tag :user %>
      <%= select_tag :user_id, options_from_collection_for_select(@users,:id,:first_and_last_name,params[:user_id]), { :include_blank => true, class: 'multiselect', multiple: false } %>
    </div>
    <div class="field">
      <%= label_tag "Read Only" %>
      <%= select_tag :read_only, options_for_select(get_yes_no_options_list,params[:read_only]), { include_blank: true, class: 'multiselect', multiple: false } %>
    </div>
    <div class="actions">
      <%= submit_tag "Filter", class: "btn btn-large btn-primary" %>
    </div>
  <% end %>
</div>

<table>
  <thead>
    <tr>
      <th>Database instance</th>
      <th>User</th>
      <th>Read only</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @user_permissions.each do |user_permission| %>
      <tr>
        <td><%= user_permission.database_instance.name %></td>
        <td><%= user_permission.user.first_and_last_name %></td>
        <td><%= show_boolean(user_permission.read_only) %></td>
        <td><%= link_to 'Edit', edit_user_permission_path(user_permission) %></td>
        <td><%= link_to 'Delete', user_permission, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @user_permissions %>
<br>