<h1>Listing league_divisions</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Order in list</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @league_divisions.each do |league_division| %>
      <tr>
        <td><%= league_division.name %></td>
        <td><%= league_division.order_in_list %></td>
        <td><%= link_to 'Show', league_division %></td>
        <td><%= link_to 'Edit', edit_heal_league_division_path(league_division) %></td>
        <td><%= link_to 'Destroy', league_division, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New League division', new_heal_league_division_path %>
