<%= form_for([:heal, @policy_adoption]) do |f| %>
  <% if @policy_adoption.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@policy_adoption.errors.count, "error") %> prohibited this policy_adoption from being saved:</h2>

      <ul>
      <% @policy_adoption.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :database_instance_id %><br>
    <%= f.number_field :database_instance_id %>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :city_id %><br>
    <%= f.number_field :city_id %>
  </div>
  <div class="field">
    <%= f.label :prior_to_joining_campaign %><br>
    <%= f.check_box :prior_to_joining_campaign %>
  </div>
  <div class="field">
    <%= f.label :notes %><br>
    <%= f.text_area :notes %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
