<%= form_for(@policy_adoption) do |f| %>
  <% if @policy_adoption.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@policy_adoption.errors.count, "error") %> prohibited this policy_adoption from being saved:</h2>

      <ul>
      <% @policy_adoption.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date %>
    <%= f.text_field :date, {class: 'datepicker'} %>
  </div>
  <div class="field">
    <%= f.label :city %>
    <%= f.collection_select :city_id, @cities, :id, :name_type_state, {include_blank: true}, {class: 'multiselect', multiple: false}  %>
  </div>
  <div class="field">
    <%= f.label :policies_adopted %>
    <%= f.collection_select :policy_ids, @policies, :id, :full_name, {}, {class: 'multiselect', multiple: true} %>
  </div>
  <div class="field">
    <%= f.label :prior_to_joining_campaign %>
    <%= f.check_box :prior_to_joining_campaign %>
  </div>
  <div class="field">
    <%= f.label :notes %>
    <%= f.text_area :notes %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
