<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @policy_adoption.date %>
</p>

<p>
  <strong>City:</strong>
  <%= @policy_adoption.city.name %>
</p>

<p>
  <strong>Policies Adopted:</strong>
  <%= show_policies_list(@policy_adoption.policies) %>
</p>

<p>
  <strong>Prior to joining campaign:</strong>
  <%= show_boolean(@policy_adoption.prior_to_joining_campaign) %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @policy_adoption.notes %>
</p>

<%= link_to 'Edit', edit_heal_policy_adoption_path(@policy_adoption) %> |
<%= link_to 'Back to Index', heal_policy_adoptions_path %>
