<%= form_for(@milestone) do |f| %>
  <% if @milestone.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@milestone.errors.count, "error") %> prohibited this milestone from being saved:</h2>

      <ul>
      <% @milestone.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :milestone_type %>
    <%= f.collection_select :milestone_type_id, @milestone_types, :id, :name, {}, {class: 'multiselect', multiple: false} %>
  </div>
  <div class="field">
    <%= f.label :city %>
    <%= f.collection_select :city_id, @cities, :id, :name_type_state, {}, {class: 'multiselect', multiple: false} %>
  </div>
  <div class="field">
    <%= f.label :status_type_id %>
    <%= f.collection_select :status_type_id, @status_types, :id, :name, {}, {class: 'multiselect', multiple: false}  %>
  </div>
  <div class="field">
    <%= f.label :completion_date %>
    <%= f.text_field :completion_date, {class: 'datepicker'} %>
  </div>
  <div class="field">
    <%= f.label :notes %>
    <%= f.text_area :notes %>
  </div>
  <div class="field">
    <%= f.label :assigned_to %>
    <%= f.collection_select :assigned_to_id, @users, :id, :first_and_last_name, {}, {class: 'multiselect', multiple: false}  %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
