<h1>City Milestones</h1>
<% if has_write_permissions? %>
   <%= link_to 'New Milestone', new_heal_milestone_path, class: "link-to-new" %> |
<% end %>
<%= link_to "Help", heal_help_task_assignments_path, class: "link-to-new" %>
<br><br>

<div class="filter">
  <%= form_tag request.path, method: 'get' do %>
    <div class="field">
      <%= label_tag :milestone_type %>
      <%= select_tag :milestone_type_id, options_from_collection_for_select(@milestone_types,:id,:name,params[:milestone_type_id]), { :include_blank => true, class: 'multiselect', multiple: false  } %>
    </div>
    <div class="field">
      <%= label_tag :city %>
      <%= select_tag :city_id, options_from_collection_for_select(@cities,:id,:name_type_state, params[:city_id]), { include_blank: true, class: 'multiselect', multiple: false} %>
    </div>
    <div class="field">
      <%= label_tag :status_type %>
      <%= select_tag :status_type_id, options_from_collection_for_select(@status_types,:id,:name,params[:status_type_id]), { :include_blank => true, class: 'multiselect', multiple: false  } %>
    </div>
    <div class="field">
      <%= label_tag :assigned_to %>
      <%= select_tag :assigned_to_id, options_from_collection_for_select(@users,:id,:first_and_last_name,params[:assigned_to_id]), { :include_blank => true, class: 'multiselect', multiple: false  } %>
    </div>
    <div class="field">
      <%= label_tag "Completed after" %>
      <%= text_field_tag :min_completed_date, params[:min_completed_date], {class: 'datepicker'} %>
    </div>
    <div class="field">
      <%= label_tag "Completed before" %>
      <%= text_field_tag :max_completed_date, params[:max_completed_date], {class: 'datepicker'} %>
    </div>
    <div class="field">
      <%= label_tag :notes %>
      <%= text_field_tag :notes, params[:notes] %>
    </div>
    <div class="actions">
      <%= submit_tag "Filter", class: "btn btn-large btn-primary" %>
    </div>
  <% end %>
</div>

<table>
  <thead>
    <tr>
      <th>Milestone Type</th>
      <th>City</th>
      <th>Status type</th>
      <th>Assigned To</th>
      <th>Completion date</th>
      <th>Notes</th>
      <% if has_write_permissions? %>
        <th></th>
        <th></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @milestones.each do |milestone| %>
      <tr>
        <td><%= milestone.milestone_type.name %></td>
        <td><%= milestone.city.name if milestone.city.present? %></td>
        <td><%= milestone.status_type.name %></td>
        <td><%= milestone.assigned_to.first_and_last_name  if milestone.assigned_to.present?%></td>
        <td><%= milestone.completion_date %></td>
        <td><%= milestone.notes %></td>
        <% if has_write_permissions? %>
          <td><%= link_to 'Edit', edit_heal_milestone_path(milestone) %></td>
          <td><%= link_to 'Delete', milestone, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @milestones %>
