<h1>Milestones Reached</h1>

<table>
  <thead>
    <tr>
      <th>Milestone Type</th>
      <th>City</th>
      <th>Status type</th>
      <th>Assigned To</th>
      <th>Completion date</th>
      <th>Notes</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @milestones.each do |milestone| %>
      <tr>
        <td><%= milestone.milestone_type.name %></td>
        <td><%= milestone.city_id %></td>
        <td><%= milestone.status_type.name %></td>
        <td><%= milestone.assigned_to.first_and_last_name  if milestone.assigned_to.present?%></td>
        <td><%= milestone.completion_date %></td>
        <td><%= milestone.notes %></td>
        <td><%= link_to 'Show', milestone %></td>
        <td><%= link_to 'Edit', edit_heal_milestone_path(milestone) %></td>
        <td><%= link_to 'Destroy', milestone, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Milestone', new_heal_milestone_path %>
