<p>
  <strong>Milestone Type:</strong>
  <%= @milestone.milestone_type.name %>
</p>

<p>
  <strong>City:</strong>
  <%= @milestone.city.name %>
</p>

<p>
  <strong>Status type:</strong>
  <%= @milestone.status_type.name %>
</p>

<p>
  <strong>Assigned To:</strong>
  <%= @milestone.assigned_to.first_and_last_name if @milestone.assigned_to.present? %>
</p>

<p>
  <strong>Completion date:</strong>
  <%= @milestone.completion_date %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @milestone.notes %>
</p>

<% if has_write_permissions? %>
  <%= link_to 'Edit', edit_heal_milestone_path(@milestone) %> |
<% end %>
<%= link_to "Back", :back %>