<h1>Jurisdiction Types</h1>

<%= link_to 'New Jurisdiction Type', new_heal_jurisdiction_type_path, class: "link-to-new" if has_write_permissions? %>
<br><br>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Order in list</th>
      <% if has_write_permissions? %>
        <th></th>
        <th></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @jurisdiction_types.each do |jurisdiction_type| %>
      <tr>
        <td><%= jurisdiction_type.name %></td>
        <td><%= jurisdiction_type.order_in_list %></td>
        <% if has_write_permissions? %>
          <td><%= link_to 'Edit', edit_heal_jurisdiction_type_path(jurisdiction_type) %></td>
          <td><%= link_to 'Delete', jurisdiction_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @jurisdiction_types %>
<br>