<p>
  <strong>Name:</strong>
  <%= @jurisdiction_type.name %>
</p>

<p>
  <strong>Order in list:</strong>
  <%= @jurisdiction_type.order_in_list %>
</p>

<% if has_write_permissions? %>
  <%= link_to 'Edit', edit_heal_jurisdiction_type_path(@jurisdiction_type) %> |
<% end %>
<%= link_to "Index", heal_jurisdiction_types_path %> |
<%= link_to "Back", :back %>