<%= form_for(@database_instance) do |f| %>
  <% if @database_instance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@database_instance.errors.count, "error") %> prohibited this database_instance from being saved:</h2>

      <ul>
      <% @database_instance.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :organization %>
    <%= f.collection_select :organization_id, @organizations, :id, :name %>
    <%= link_to "Add / Edit", new_organization_path %>
  </div>
  <div class="field">
    <%= f.label "Database Type" %>
    <%= f.collection_select :database_type_id, @database_types, :id, :name %>
    <%= link_to "Add / Edit", new_database_type_path %>
  </div>
  <div class="actions">
    <%= f.submit locals[:new] ? "Create" : "Update", class: "btn btn-large btn-primary"%>
  </div>
<% end %>
