<h1>Database Instances</h1>

<%= link_to 'New Database Instance', new_database_instance_path, class: "link-to-new" %>
<br><br>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Database Type</th>
      <th>Instance Name</th>
      <th>Users</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @database_instances.each do |database_instance| %>
      <tr>
        <td><%= database_instance.name %></td>
        <td><%= database_instance.type %></td>
        <td><%= database_instance.instance_name %></td>
        <td><%= show_users_list(database_instance.users.all) %></td>
        <td><%= link_to 'Edit', edit_database_instance_path(database_instance) %></td>
        <td><%= link_to 'Delete', database_instance_path(database_instance), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @database_instances %>
<br>