<h1>Database Instances</h1>

<table>
  <thead>
    <tr>
      <th>Organization</th>
      <th>Database Type</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @database_instances.each do |database_instance| %>
      <tr>
        <td><%= database_instance.organization.name %></td>
        <td><%= database_instance.type %></td>
        <td><%= link_to 'Edit', edit_database_instance_path(database_instance) %></td>
        <td><%= link_to 'Destroy', database_instance_path(database_instance), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Database Instance', new_database_instance_path %>
