<p id="notice"><%= notice %></p>

<p>
  <strong>Database Type:</strong>
  <%= @database_instance.type %>
</p>

<p>
  <strong>Instance Name:</strong>
  <%= @database_instance.instance_name %>
</p>

<p>
  <strong>Users:</strong>
  <%= show_users_list(@database_instance.users) %>
</p>

<%= link_to 'Edit', edit_database_instance_path(@database_instance) %> |
<%= link_to 'Back', database_instances_path %>
