<h1>Levels of Interest in HEAL Cities (used in the Contacts table)</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Order in list</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @interest_levels.each do |interest_level| %>
      <tr>
        <td><%= interest_level.name %></td>
        <td><%= interest_level.order_in_list %></td>
        <td><%= link_to 'Edit', edit_heal_interest_level_path(interest_level) %></td>
        <td><%= link_to 'Delete', interest_level, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @interest_levels %>
<br>

<%= link_to 'New Interest Level', new_heal_interest_level_path %>
