<h1>Policies</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Order in list</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @policies.each do |policy| %>
      <tr>
        <td><%= policy.name %></td>
        <td><%= policy.order_in_list %></td>
        <td><%= link_to 'Edit', edit_heal_policy_path(policy) %></td>
        <td><%= link_to 'Destroy', policy, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @policies %>
<br>

<%= link_to 'New Policy', new_heal_policy_path %>
