<p>
  <strong>Name:</strong>
  <%= @policy.name %>
</p>

<p>
  <strong>Order in list:</strong>
  <%= @policy.order_in_list %>
</p>

<% if has_write_permissions? %>
  <%= link_to 'Edit', edit_heal_policy_path(@policy) %> |
<% end %>
<%= link_to "Index", heal_policies_path %> |
<%= link_to "Back", :back %>