<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @status_type.name %>
</p>

<p>
  <strong>Order in list:</strong>
  <%= @status_type.order_in_list %>
</p>

<%= link_to 'Edit', edit_heal_status_type_path(@status_type) %> |
<%= link_to 'Back to Index', heal_status_types_path %>
