<h1>Resolutions</h1>

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>City</th>
      <th>Policies</th>
      <th>Prior to joining campaign</th>
      <th>Notes</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @resolutions.each do |resolution| %>
      <tr>
        <td><%= resolution.date %></td>
        <td><%= resolution.city.name %></td>
        <td><%= show_policies_list(resolution.policies)%></td>
        <td><%= show_boolean(resolution.prior_to_joining_campaign) %></td>
        <td><%= resolution.notes %></td>
        <td><%= link_to 'Show', resolution %></td>
        <td><%= link_to 'Edit', edit_heal_resolution_path(resolution) %></td>
        <td><%= link_to 'Destroy', resolution, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Resolution', new_heal_resolution_path %>
