<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @resolution.date %>
</p>

<p>
  <strong>City:</strong>
  <%= @resolution.city_id %>
</p>

<p>
  <strong>Prior to joining campaign:</strong>
  <%= @resolution.prior_to_joining_campaign %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @resolution.notes %>
</p>

<%= link_to 'Edit', edit_heal_resolution_path(@resolution) %> |
<%= link_to 'Back', heal_resolutions_path %>
