<table>
  <thead>
  <tr>
    <th>Due date</th>
    <th>Description</th>
    <th>Assigned to</th>
    <th>Assigned by</th>
    <th>Prior communication</th>
    <th>Completed</th>
    <th>Completed date</th>
    <th>Completed by</th>
    <th>Completion notes</th>
    <% if has_write_permissions? %>
      <th></th>
      <th></th>
      <th></th>
    <% end %>
  </tr>
  </thead>

  <tbody>
  <% followup_tasks.each do |followup_task| %>
    <tr>
      <td><%= followup_task.due_date %></td>
      <td><%= followup_task.description %></td>
      <td><%= followup_task.assigned_to.first_and_last_name if followup_task.assigned_to.present? %></td>
      <td><%= followup_task.assigned_by.first_and_last_name %></td>
      <td><%= (link_to followup_task.prior_communication.summary, followup_task.prior_communication) if followup_task.prior_communication.present?%></td>
      <td><%= show_boolean(followup_task.completed) %></td>
      <td><%= followup_task.completed_date %></td>
      <td><%= followup_task.completed_by.first_and_last_name if followup_task.completed_by.present? %></td>
      <td><%= followup_task.completion_notes %></td>
      <% if has_write_permissions? %>
        <td><%= link_to 'Show', followup_task %></td>
        <td><%= link_to 'Edit', edit_heal_followup_task_path(followup_task) %></td>
        <td><%= link_to 'Destroy', followup_task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>