<h1>Cities Summary Report</h1>

<div class="filter">
  <%= form_tag request.path, method: 'get' do %>
    <div class="field">
      <%= label_tag :name %>
      <%= text_field_tag :name, params[:name] %>
    </div>
    <div class="field">
      <%= label_tag :state %>
      <%= text_field_tag :state, params[:state] %>
    </div>
    <div class="field">
      <%= label_tag :kp_service_area %>
      <%= select_tag :kp_service_area, options_for_select(get_yes_no_options_list,params[:kp_service_area]), { :include_blank => true } %>
    </div>
    <div class="field">
      <%= label_tag :under_resourced_or_disease_burdened %>
      <%= select_tag :under_resourced_or_disease_burden, options_for_select(get_yes_no_options_list,params[:under_resourced_or_disease_burden]), { :include_blank => true } %>
    </div>
    <div class="field">
      <%= label_tag :city_designation %>
      <%= select_tag :city_designation_id, options_from_collection_for_select(@city_designations,:id,:name,params[:city_designation_id]), { :include_blank => true } %>
    </div>
    <div class="actions">
      <%= submit_tag "Search" %>
    </div>
  <% end %>
</div>

<% if @cities.nil? or @cities.count == 0 %>
  <div class="no_data">No data has been entered, or no data matches the filter above.</div>
<% else %>
  <table>
    <thead>
    <tr>
      <th>Name</th>
      <th>State</th>
      <th>In KP Service Area</th>
      <th>Under-Resourced or Disease Burdened Area</th>
      <th>HEAL City Designation</th>
      <th>Policies Adopted <div><%= link_to 'Add', new_heal_policy_adoption_path %></div></th>
      <th>Resolutions <div><%= link_to 'Add', new_heal_resolution_path %></div></th>
      <th>Communications <div><%= link_to 'Add', new_heal_communication_path %></div></th>
      <th>Contacts <div><%= link_to 'Add', new_heal_contact_path %></div></th>
    </tr>
    </thead>

    <tbody>
    <% @cities.each do |city| %>
      <tr>
        <td><%= link_to city.name, edit_heal_city_path(city)%></td>
        <td><%= city.state %></td>
        <td><%= show_boolean(city.kp_service_area) %></td>
        <td><%= show_boolean(city.under_resourced_or_disease_burden) %></td>
        <td><%= city.city_designation.name if city.city_designation.present? %></td>
        <td>
          <% city.policy_adoptions.order(:date).each do |pa| %>
            <div><%= link_to pa.policy_summary, edit_heal_policy_adoption_path(pa) %></div>
          <% end %>
        </td>
        <td>
          <% city.resolutions.order(:date).each do |r| %>
            <div><%= link_to r.policy_summary, edit_heal_resolution_path(r) %></div>
          <% end %>
        </td>
        <td>
          <div>
            <% link_text = "#{city.communications.count} #{"communication".pluralize(city.communications.count)}, #{city.communications.sum(:duration_minutes)} minutes" %>
            <%= link_to link_text, heal_communications_path + "?city_id=" + city.id.to_s %>
          </div>
          <% communication_count = 0
           max_communications_to_show = 4%>
          <% city.communications.order(date: :desc).each do |com|
            communication_count += 1
            break if communication_count > max_communications_to_show%>
            <div>
              <%= link_to com.summary_date_first, heal_communication_path(com) %>
            </div>
          <% end %>

        </td>
        <td>
          <% city.contacts.order(:first_name, :last_name).each do |contact| %>
            <div><%= link_to contact.first_and_last_name, "#{heal_reports_contacts_summary_path}?first_name=#{contact.first_name}&last_name=#{contact.last_name}" %></div>
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <%= will_paginate @cities %>
<% end %>