<h1>Policy Grid Report</h1>

<div class="filter">
  <%= form_tag request.path, method: 'get' do %>
    <div class="field">
      <%= label_tag :state %>
      <%= text_field_tag :state, params[:state] %>
    </div>
    <div class="field">
      <%= label_tag :county %>
      <%= text_field_tag :county, params[:county] %>
    </div>
    <div class="field">
      <%= label_tag :name %>
      <%= text_field_tag :name, params[:name] %>
    </div>
    <div class="field">
      <%= label_tag :min_population %>
      <%= number_field_tag :min_population, params[:min_population] %>
    </div>
    <div class="field">
      <%= label_tag :max_population %>
      <%= number_field_tag :max_population, params[:max_population] %>
    </div>
    <div class="field">
      <%= label_tag :min_percent_obesity %>
      <%= number_field_tag :min_percent_obesity, params[:min_percent_obesity] %>
    </div>
    <div class="field">
      <%= label_tag :max_percent_obesity %>
      <%= number_field_tag :max_percent_obesity, params[:max_percent_obesity] %>
    </div>
    <div class="field">
      <%= label_tag :city_designation, "Current City Designation"%>
      <%= select_tag :city_designation_id, content_tag(:option,'', value: "" ) + content_tag(:option,'[none]',value: HealHelper::NONE_OF_THE_ABOVE_VALUE_IN_DROPDOWN, selected: (params[:city_designation_id] == HealHelper::NONE_OF_THE_ABOVE_VALUE_IN_DROPDOWN) ) + options_from_collection_for_select(@city_designations,:id,:name,params[:city_designation_id]) %>
    </div>
    <div class="field">
      <%= label_tag "Resolutions" %>
      <%= select_tag :resolution_policy_id, options_from_collection_for_select(@policies,:id,:name,params[:resolution_policy_id]), { :include_blank => true } %>
    </div>
    <div class="field">
      <%= label_tag "Policy Adoptions" %>
      <%= select_tag :policy_adoption_policy_id, options_from_collection_for_select(@policies,:id,:name,params[:policy_adoption_policy_id]), { :include_blank => true } %>
    </div>
    <div class="field">
      <%= label_tag :policy_change_in_progress %>
      <%= select_tag :policy_change_in_progress, options_for_select(get_yes_no_options_list,params[:policy_change_in_progress]), { :include_blank => true } %>
    </div>
    <div class="actions">
      <%= submit_tag "Search" %>
    </div>
  <% end %>
</div>

<%= link_to 'New Heal City Designation Achievement', new_heal_city_designation_achievement_path %> |
<%= link_to 'New Policy Adoption', new_heal_policy_adoption_path %> |
<%= link_to 'New Resolution', new_heal_resolution_path %>
<br><br>

<% policy_ids = [] %>
<% if @cities.nil? or @cities.count == 0 %>
  <div class="no_data">No data has been entered, or no data matches the filter above.</div>
<% else %>
  <table>
    <thead>
    <tr>
      <th>State</th>
      <th>County</th>
      <th>Name</th>
      <th>Population</th>
      <th>% Obesity</th>
      <th>Median Income</th>
      <th>HEAL City Designation</th>
      <th>General Plan / Policy Change in Progress</th>
      <% @policies.each do |policy| %>
        <% policy_ids << policy.id %>
        <th class="small-title"><span title="<%= policy.name %>"><%= truncate_text(policy.name) %></span></th>
      <% end %>
    </tr>
    </thead>

    <tbody>
    <% @cities.each do |city| %>
      <tr>
        <td><%= city.state %></td>
        <td><%= city.county %></td>
        <td><%= link_to city.name, edit_heal_city_path(city)%></td>
        <td><%= city.population %></td>
        <td><%= show_percentage(city.percent_obesity) %></td>
        <td><%= number_to_currency(city.city_median_income, precision: 0) %></td>
        <td class="black <%= get_city_designation_class(city) %>"><%= show_city_designation_achievements_list(city) %>
        <td><%= show_boolean(city.policy_change_in_progress) %></td>
        <% @policies.each do |policy| %>
          <% pa_all = city.policy_adoptions.joins(:policies).where("policies_policy_adoptions.policy_id" => policy.id).order(date: :desc)
          pa_first = pa_all.first
          res_all = city.resolutions.joins(:policies).where("policies_resolutions.policy_id" => policy.id).order(date: :desc)
          res_first = res_all.first
          if pa_first.present?
            if pa_first.prior_to_joining_campaign
              klass = "white prior"
            elsif pa_first.date.nil?
              klass = "white adopted-no-date"
            else
              klass = "white adopted-in-#{pa_first.date.year}"
            end
          elsif res_first.present?
             klass = "white resolution"
          end %>
          <td class="<%= klass %>">
          <% first = true
          pa_all.each do |pa|
            if pa.prior_to_joining_campaign
              %><div<%= ' class=bold' if first%>><%= link_to "P", edit_heal_policy_adoption_path(pa), title: "#{(pa.date.year.to_s+" ") if pa.date.present?}#{pa.notes}" %></div><%
            else
              %><div<%= ' class=bold' if first%>><%= link_to pa.date.present? ? pa.date.year : "A", edit_heal_policy_adoption_path(pa), title: pa.notes %></div><%
            end
            first = false
          end
          res_all.each do |res|
            %> <div<%= ' class=bold' if first%>><%= link_to "R", edit_heal_resolution_path(res), title: "#{(res.date.year.to_s+" ") if res.date.present?}#{res.notes}" %></div><%
            first = false
          end
          %></td><%
        end %>
      </tr>
    <% end %>
    </tbody>
  </table>
  <%= will_paginate @cities %>
<% end %>