<h1>HEAL Progress Report</h1>
<br>

<h3>Cities by Achievement Level</h3>
<table>
  <thead>
  <tr>
    <th>Achievement Level</th>
    <th># of Cities</th>
    <th>Total Population</th>
  </tr>
  </thead>

  <tbody>
  <% @cities_by_achievement.each do |c| %>
    <tr>
      <td class="black <%= get_city_designation_class_by_number(c[:achievement_order_in_list]) if c[:achievement_order_in_list].present? %>"><%= c[:city_designation_name] %></td>
      <td><%= c[:number_of_cities] == 0 ? 0 : (link_to c[:number_of_cities], heal_reports_cities_summary_path + "?city_designation_id=#{c[:city_designation_id]}") %></td>
      <td><%= number_with_delimiter(c[:total_population]) %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<br>

<% if @cities_by_achievement_minorities_15_percent.present? %>
<h3>Cities with Minority Population > 15%, by Achievement Level</h3>
<table>
  <thead>
  <tr>
    <th>Achievement Level</th>
    <th># of Cities</th>
    <th>Total Population</th>
  </tr>
  </thead>

  <tbody>
  <% @cities_by_achievement_minorities_15_percent.each do |c| %>
    <tr>
      <td class="black <%= get_city_designation_class_by_number(c[:achievement_order_in_list]) if c[:achievement_order_in_list].present? %>"><%= c[:city_designation_name] %></td>
      <td><%= c[:number_of_cities] == 0 ? 0 : (link_to c[:number_of_cities], heal_reports_cities_summary_path + "?city_designation_id=#{c[:city_designation_id]}&minorities_more_than_fifteen_percent=1") %></td>
      <td><%= number_with_delimiter(c[:total_population]) %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<br>
<% end %>

<h3>Cities that have Taken Action</h3>
<table>
  <thead>
    <tr>
      <th>Cities that have</th>
      <th># of Cities</th>
      <th>Total Population</th>
    </tr>
  </thead>

  <tbody>
  <tr>
    <td>Reached a HEAL achievement</td>
    <td><%= @cities_with_achievement.count %></td>
    <td><%= number_with_delimiter(@cities_with_achievement.sum(:population)) %></td>
  </tr>
  <tr>
    <td>Adopted a HEAL resolution (after joining the campaign)</td>
    <td><%= @cities_with_resolution.count %></td>
    <td><%= number_with_delimiter(@cities_with_resolution.sum(:population)) %></td>
  </tr>
  <tr>
    <td>Adopted a HEAL policy (after joining the campaign)</td>
    <td><%= @cities_with_policies.count %></td>
    <td><%= number_with_delimiter(@cities_with_policies.sum(:population)) %></td>
  </tr>
  </tbody>
</table>
<br>

<h3>Resolutions and Policy Adoptions</h3>
<table>
  <thead>
  <tr>
    <th rowspan="2">Policy</th>
    <th colspan="2">Resolutions<br>(after joining the campaign)</th>
    <th colspan="2">Policy Adoptions<br>(after joining the campaign)</th>
  </tr>
  <tr>
    <th># of Cities</th>
    <th>Total Population</th>
    <th># of Cities</th>
    <th>Total Population</th>
  </tr>
  </thead>

  <tbody>
  <% @cities_by_policy.each do |c| %>
    <tr>
      <td><%= c[:policy_name] %></td>
      <td><%= c[:cities_resolving] == 0 ? 0 : (link_to c[:cities_resolving], heal_reports_cities_summary_path + "?resolution_policy_id=#{c[:policy_id]}") %></td>
      <td><%= number_with_delimiter(c[:cities_resolving_population]) %></td>
      <td><%= c[:cities_adopting] == 0 ? 0: (link_to c[:cities_adopting], heal_reports_cities_summary_path + "?policy_adoption_policy_id=#{c[:policy_id]}") %></td>
      <td><%= number_with_delimiter(c[:cities_adopting_population]) %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<br />

<h3>Communications by Type</h3>
<table>
  <thead>
  <tr>
    <th>Communication Type</th>
    <th># of Communications</th>
    <th>Cities Involved</th>
    <th>Contacts Involved</th>
    <th>Total Duration (minutes)</th>
  </tr>
  </thead>

  <tbody>
  <% @communications_by_type.each do |ct| %>
    <tr>
      <td><%= ct[:communication_type_name] %></td>
      <td><%= ct[:num_communications] == 0 ? 0 : (link_to number_with_delimiter(ct[:num_communications]), heal_communications_path + "?communication_type_id=#{ct[:communication_type_id]}") %></td>
      <td><%= number_with_delimiter(ct[:cities_involved]) %></td>
      <td><%= number_with_delimiter(ct[:contacts_involved]) %></td>
      <td><%= number_with_delimiter(ct[:total_minutes]) %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<br />

<h3>Communications by Topic</h3>
<table>
  <thead>
  <tr>
    <th>Topic</th>
    <th># of Communications</th>
    <th>Cities Involved</th>
    <th>Contacts Involved</th>
    <th>Total Duration (minutes)</th>
  </tr>
  </thead>

  <tbody>
  <% @communications_by_topic.each do |ct| %>
    <tr>
      <td><%= ct[:topic_name] %></td>
      <td><%= ct[:num_communications] == 0 ? 0 : (link_to number_with_delimiter(ct[:num_communications]), heal_communications_path + "?topic_id=#{ct[:topic_id]}") %></td>
      <td><%= number_with_delimiter(ct[:cities_involved]) %></td>
      <td><%= number_with_delimiter(ct[:contacts_involved]) %></td>
      <td><%= number_with_delimiter(ct[:total_minutes]) %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<br />

<% if @heal_champions.present? %>
  <h3>Heal Champions</h3>
  <table>
    <thead>
    <tr>
      <th>Name</th>
      <th>Title</th>
      <th>Organization</th>
      <th>Cities</th>
    </tr>
    </thead>

    <tbody>
    <% @heal_champions.each do |hc| %>
      <tr>
        <td><%= link_to "#{hc.first_name} #{hc.last_name}", hc %></td>
        <td><%= hc.title %></td>
        <td><%= hc.organization_name %></td>
        <td>
          <% hc.cities.each do |city| %>
            <div><%= link_to "#{city.name}, #{city.state} #{ "(#{city.current_designation.city_designation.name})" if city.current_designation.present?}", "#{heal_reports_cities_summary_path}?name=#{city.name}&state=#{city.state}" %></div>
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <%= will_paginate @heal_champions, param_name: 'heal_champions_page' %>
  <br />
<% end %>