<h1>To Do: tasks and milestones that haven't been completed yet</h1>
<% if has_write_permissions? %>
  <%= link_to 'New Followup task', new_heal_followup_task_path, class: "link-to-new" %> | <%= link_to 'New Milestone', new_heal_milestone_path, class: "link-to-new" %>
<% end %>

<h4>Followup Tasks Assigned to You</h4>
<%= render 'followup_tasks_form', followup_tasks: @tasks_assigned_to_me %>
<%= will_paginate @tasks_assigned_to_me, param_name: :assigned_to_me_page %>
<br>

<h4>Followup Tasks Assigned By You</h4>
<%= render 'followup_tasks_form', followup_tasks: @tasks_assigned_by_me %>
<%= will_paginate @tasks_assigned_by_me, param_name: :assigned_by_me_page %>
<br>

<h4>Milestones Assigned to You</h4>
<table>
  <thead>
  <tr>
    <th>City</th>
    <th>Milestone Type</th>
    <th>Status type</th>
    <th>Assigned To</th>
    <th>Completion date</th>
    <th>Notes</th>
    <% if has_write_permissions? %>
      <th></th>
      <th></th>
      <th></th>
    <% end %>
  </tr>
  </thead>

  <tbody>
  <% @milestones.each do |milestone| %>
    <tr>
      <td><%= milestone.city.name %></td>
      <td><%= milestone.milestone_type.name %></td>
      <td><%= milestone.status_type.name %></td>
      <td><%= milestone.assigned_to.first_and_last_name  if milestone.assigned_to.present?%></td>
      <td><%= milestone.completion_date %></td>
      <td><%= milestone.notes %></td>
      <% if has_write_permissions? %>
        <td><%= link_to 'Show', milestone %></td>
        <td><%= link_to 'Edit', edit_heal_milestone_path(milestone) %></td>
        <td><%= link_to 'Destroy', milestone, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>
<%= will_paginate @milestones, param_name: :milestones_page %>
<br>