<h1>Import Contacts from Excel</h1>

<p>An Excel (.xls or .xlsx) file can be used to import contacts into the database.
  Make sure these contacts aren't already in the database, so you don't mistakenly get duplicates there.</p>
<p>The first row should be the column name. The following columns are allowed.</p>

<ul>
  <% Heal::Contact.columns.each do |column| %>
    <% if column.name.in? Heal::ContactImport.fields_to_directly_import.map {|field_name| field_name.to_s} %>
      <li>
        <strong><%= column.name %></strong> -
        <%= column.type.to_s.titleize %> type
      </li>
    <% end %>
  <% end %>
  <li><strong>interest_level</strong> - <%= show_comma_separated_list(@interest_levels,"",{show_all: true, conjunction: "or"}) %></li>
  <li><strong>position_type</strong> - <%= show_comma_separated_list(@position_types,"",{show_all: true, conjunction: "or"}) %></li>
  <li><strong>honorific</strong> - <%= show_comma_separated_list(@honorifics,"",{show_all: true, conjunction: "or"}) %></li>
  <li><strong>organization_type</strong> - <%= show_comma_separated_list(@organization_types,"",{show_all: true, conjunction: "or"}) %></li>
  <li><strong>cities</strong> - String type, must be a comma-separated list of zero or more cities, with state. Example: Portland OR, Sacramento CA</li>
</ul>

<%= form_for @contact_import do |f| %>
  <% if @contact_import.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contact_import.errors.count, "error") %> prohibited this import from completing:</h2>
      <ul>
        <% @contact_import.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
      <h2>Please correct this data and then try again.</h2>
    </div>
  <% end %>

  <div class="field">
    <%= f.file_field :file %>
  </div>
  <div class="buttons"><%= f.submit "Import" %></div>
<% end %>
