<h1>Import Contacts from Excel</h1>

<b><%= link_to 'Download Excel Template', heal_contact_imports_template_path(format: "xlsx") %></b>
<br><br>

<p>An Excel (.xls or .xlsx) file can be used to import contacts into the database.
  Make sure these contacts aren't already in the database, so you don't mistakenly get duplicates there.</p>

<p>The first row of the spreadsheet contains the column names. The second row is explanatory only (ignored on upload) and contains descriptions of what values are allowed for that column.</p>

<p>The following columns are included:</p>

<ul>
  <% contact_fields_and_descriptions.each do |field| %>
    <li><%=raw("<strong>#{field[:name]}</strong> #{field[:data_type]}")%></li>
  <% end %>
</ul>

<%= form_for @contact_import do |f| %>
  <% if @contact_import.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contact_import.errors.count, "error") %> prohibited this import from completing:</h2>
      <ul>
        <% @contact_import.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
      <h2>Please correct this data and then try again.</h2>
    </div>
  <% end %>

  <div class="field">
    <%= f.file_field :file %>
  </div>
  <div class="buttons"><%= f.submit "Import" %></div>
<% end %>
