<p id="notice"><%= notice %></p>

<p>
  <strong>Database instance:</strong>
  <%= @communication.database_instance_id %>
</p>

<p>
  <strong>Date:</strong>
  <%= @communication.date %>
</p>

<p>
  <strong>Duration minutes:</strong>
  <%= @communication.duration_minutes %>
</p>

<p>
  <strong>Communication type:</strong>
  <%= @communication.communication_type_id %>
</p>

<p>
  <strong>Event name:</strong>
  <%= @communication.event_name %>
</p>

<p>
  <strong>Contact interest level:</strong>
  <%= @communication.contact_interest_level_id %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @communication.notes %>
</p>

<%= link_to 'Edit', edit_communication_path(@communication) %> |
<%= link_to 'Back', communications_path %>
