<p id="notice"><%= notice %></p>

<p>
  <strong>Database instance:</strong>
  <%= @survey_email_sent.database_instance_id %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @survey_email_sent.contact_id %>
</p>

<p>
  <strong>Email address:</strong>
  <%= @survey_email_sent.email_address %>
</p>

<p>
  <strong>Sent date:</strong>
  <%= @survey_email_sent.sent_date %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @survey_email_sent.subject %>
</p>

<p>
  <strong>Message:</strong>
  <%= @survey_email_sent.message %>
</p>

<p>
  <strong>Survey monkey respondent:</strong>
  <%= @survey_email_sent.survey_monkey_respondent_id %>
</p>

<p>
  <strong>Response received:</strong>
  <%= @survey_email_sent.response_received %>
</p>

<p>
  <strong>Reminder sent date:</strong>
  <%= @survey_email_sent.reminder_sent_date %>
</p>

<%= link_to 'Edit', edit_survey_email_sent_path(@survey_email_sent) %> |
<%= link_to 'Back', survey_email_sents_path %>
