<%= form_for(@milestone_achievement) do |f| %>
  <% if @milestone_achievement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@milestone_achievement.errors.count, "error") %> prohibited this milestone_achievement from being saved:</h2>

      <ul>
      <% @milestone_achievement.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :database_instance_id %><br>
    <%= f.number_field :database_instance_id %>
  </div>
  <div class="field">
    <%= f.label :milestone_id %><br>
    <%= f.number_field :milestone_id %>
  </div>
  <div class="field">
    <%= f.label :city_id %><br>
    <%= f.number_field :city_id %>
  </div>
  <div class="field">
    <%= f.label :status_type_id %><br>
    <%= f.number_field :status_type_id %>
  </div>
  <div class="field">
    <%= f.label :completion_date %><br>
    <%= f.date_select :completion_date %>
  </div>
  <div class="field">
    <%= f.label :notes %><br>
    <%= f.text_area :notes %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
