<p id="notice"><%= notice %></p>

<p>
  <strong>Database instance:</strong>
  <%= @milestone_achievement.database_instance_id %>
</p>

<p>
  <strong>Milestone:</strong>
  <%= @milestone_achievement.milestone_id %>
</p>

<p>
  <strong>City:</strong>
  <%= @milestone_achievement.city_id %>
</p>

<p>
  <strong>Status type:</strong>
  <%= @milestone_achievement.status_type_id %>
</p>

<p>
  <strong>Completion date:</strong>
  <%= @milestone_achievement.completion_date %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @milestone_achievement.notes %>
</p>

<p>
  <strong>User:</strong>
  <%= @milestone_achievement.user_id %>
</p>

<%= link_to 'Edit', edit_heal_milestone_achievement_path(@milestone_achievement) %> |
<%= link_to 'Back', heal_milestone_achievements_path %>
