<h1>Listing heal_policies</h1>

<table>
  <thead>
    <tr>
      <th>Database instance</th>
      <th>Name</th>
      <th>Order in list</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @heal_policies.each do |heal_policy| %>
      <tr>
        <td><%= heal_policy.database_instance_id %></td>
        <td><%= heal_policy.name %></td>
        <td><%= heal_policy.order_in_list %></td>
        <td><%= link_to 'Show', heal_policy %></td>
        <td><%= link_to 'Edit', edit_heal_policy_path(heal_policy) %></td>
        <td><%= link_to 'Destroy', heal_policy, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Heal policy', new_heal_policy_path %>
