<%= form_for(@contact) do |f| %>
  <% if @contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul>
      <% @contact.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Honorific" %>
    <%= f.collection_select :honorific_id, @honorifics, :id, :name, {include_blank: true}, {class: 'multiselect', multiple: false} %>
    <%= link_to "Add / Edit", new_heal_honorific_path %>
  </div>
  <div class="field">
    <%= f.label "First Name" %>
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label "Last Name" %>
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label "Position Type" %>
    <%= f.collection_select :position_type_id, @position_types, :id, :name, {include_blank: true}, {class: 'multiselect', multiple: false} %>
    <%= link_to "Add / Edit", new_heal_position_type_path %>
  </div>
  <div class="field">
    <%= f.label "Organization Name" %>
    <%= f.text_field :organization_name %>
  </div>
  <div class="field">
    <%= f.label "Organization Type" %>
    <%= f.collection_select :organization_type_id, @organization_types, :id, :name, {include_blank: true}, {class: 'multiselect', multiple: false} %>
    <%= link_to "Add / Edit", new_heal_organization_type_path %>
  </div>
  <div class="field">
    <%= f.label :cities %>
    <%= f.collection_select :city_ids, @cities, :id, :name, {}, {class: 'multiselect', multiple: true} %>
    <%= link_to "Add / Edit", new_heal_city_path %>
  </div>
  <div class="field">
    <%= f.label "Office Phone" %>
    <%= f.text_field :office_phone_number %>
  </div>
  <div class="field">
    <%= f.label "Cell Phone" %>
    <%= f.text_field :cell_phone_number %>
  </div>
  <div class="field">
    <%= f.label :fax %>
    <%= f.text_field :fax %>
  </div>
  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label "Address Line 1" %>
    <%= f.text_field :address_line_1 %>
  </div>
  <div class="field">
    <%= f.label "Address Line 2" %>
    <%= f.text_field :address_line_2 %>
  </div>
  <div class="field">
    <%= f.label "Address City" %>
    <%= f.text_field :address_city %>
  </div>
  <div class="field">
    <%= f.label "Address State" %>
    <%= f.text_field :address_state %>
  </div>
  <div class="field">
    <%= f.label "Address ZIP" %>
    <%= f.text_field :address_zip %>
  </div>
  <div class="field">
    <%= f.label "Interest Level" %>
    <%= f.collection_select :interest_level_id, @interest_levels, :id, :name, {include_blank: true}, {class: 'multiselect', multiple: false} %>
    <%= link_to "Add / Edit", new_heal_interest_level_path %>
  </div>
  <div class="field">
    <%= f.label "HEAL Champion" %>
    <%= f.check_box :heal_champion %>
  </div>
  <div class="field">
    <%= f.label "HEAL Champion Notes" %>
    <%= f.text_area :heal_champion_notes %>
  </div>
  <div class="field">
    <%= f.label :website %>
    <%= f.text_area :website %>
  </div>
  <div class="field">
    <%= f.label :notes %>
    <%= f.text_area :notes %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
