<h1>Contacts</h1>

<p>
  <%= link_to "Download to Excel", heal_contacts_path(format: "xls") %>
</p>

<table>
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Title</th>
      <th>Position Type</th>
      <th>Organization Name</th>
      <th>Organization Type</th>
      <th>Cities</th>
      <th>Office Phone Number</th>
      <th>Email</th>
      <th>Interest Level</th>
      <th>Heal Champion</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @contacts.each do |contact| %>
      <tr>
        <td><%= contact.first_name %></td>
        <td><%= contact.last_name %></td>
        <td><%= contact.title %></td>
        <td><%= contact.position_type.name %></td>
        <td><%= contact.organization_name %></td>
        <td><%= contact.organization_type.name if contact.organization_type.present? %></td>
        <td><%= show_cities_list(contact.cities) %></td>
        <td><%= contact.office_phone_number %></td>
        <td><%= contact.email %></td>
        <td><%= contact.interest_level.name if contact.interest_level.present? %></td>
        <td><%= show_boolean(contact.HEAL_champion) %></td>
        <td><%= link_to 'Show', contact %></td>
        <td><%= link_to 'Edit', edit_heal_contact_path(contact) %></td>
        <td><%= link_to 'Destroy', contact, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @contacts %>
<br>

<%= link_to 'New Contact', new_heal_contact_path %>
