<br />
<h1><%= "#{@contact.first_name} #{@contact.last_name}" %></h1>

<div class="show_contacts">
  <p>
    <span class="field_name">Honorific:</span>
    <%= @contact.honorific.name if @contact.honorific.present? %>
  </p>

  <p>
    <span class="field_name">First name:</span>
    <%= @contact.first_name %>
  </p>

  <p>
    <span class="field_name">Last name:</span>
    <%= @contact.last_name %>
  </p>

  <p>
    <span class="field_name">Title:</span>
    <%= @contact.title %>
  </p>

  <p>
    <span class="field_name">Position type:</span>
    <%= @contact.position_type.name if @contact.position_type.present?%>
  </p>

  <p>
    <span class="field_name">Cities:</span>
    <%= show_cities_list(@contact.cities, {show_state: true, show_all:true}) %>
  </p>

  <p>
    <span class="field_name">Organization name:</span>
    <%= @contact.organization_name %>
  </p>

  <p>
    <span class="field_name">Organization type:</span>
    <%= @contact.organization_type.name if @contact.organization_type.present?%>
  </p>

  <p>
    <span class="field_name">Office Phone Number:</span>
    <%= @contact.office_phone_number %>
  </p>

  <p>
    <span class="field_name">Cell Phone Number:</span>
    <%= @contact.cell_phone_number %>
  </p>

  <p>
    <span class="field_name">Fax:</span>
    <%= @contact.fax %>
  </p>

  <p>
    <span class="field_name">Email:</span>
    <%= mail_to @contact.email_address_with_name, @contact.email if @contact.email.present? %>
  </p>

  <p>
    <span class="field_name">Address line 1:</span>
    <%= @contact.address_line_1 %>
  </p>

  <p>
    <span class="field_name">Address line 2:</span>
    <%= @contact.address_line_2 %>
  </p>

  <p>
    <span class="field_name">Address city:</span>
    <%= @contact.address_city %>
  </p>

  <p>
    <span class="field_name">Address state:</span>
    <%= @contact.address_state %>
  </p>

  <p>
    <span class="field_name">Address zip:</span>
    <%= @contact.address_zip %>
  </p>

  <p>
    <span class="field_name">Interest level:</span>
    <%= @contact.interest_level.name if @contact.interest_level.present? %>
  </p>

  <p>
    <span class="field_name">Heal champion:</span>
    <%= show_boolean(@contact.heal_champion) %>
  </p>

  <p>
    <span class="field_name">Heal champion notes:</span>
    <%= @contact.heal_champion_notes %>
  </p>

  <p>
    <span class="field_name">Website:</span>
    <%= link_to @contact.website, @contact.website_with_prefix if @contact.website.present?%>
  </p>

  <p>
    <span class="field_name">Notes:</span>
    <%= @contact.notes %>
  </p>
</div>

<% if has_write_permissions? %>
  <%= link_to 'Edit', edit_heal_contact_path(@contact) %> |
<% end %>
<%= link_to "Back", :back %>