<h1>Communications</h1>

<%= link_to 'New Communication', new_heal_communication_path %>
<br><br>

<div class="filter">
  <%= form_tag request.path, method: 'get' do %>
    <div class="field">
      <%= label_tag :min_date %>
      <%= text_field_tag :min_date, params[:min_date], {class: 'datepicker'} %>
    </div>
    <div class="field">
      <%= label_tag :max_date %>
      <%= text_field_tag :max_date, params[:max_date], {class: 'datepicker'} %>
    </div>
    <div class="field">
      <%= label_tag :min_duration %>
      <%= number_field_tag :min_duration, params[:min_duration] %>
    </div>
    <div class="field">
      <%= label_tag :max_duration %>
      <%= number_field_tag :max_duration, params[:max_duration] %>
    </div>
    <div class="field">
      <%= label_tag :communication_type %>
      <%= select_tag :communication_type_id, options_from_collection_for_select(@communication_types,:id,:name, params[:communication_type_id]), { include_blank: true, class: 'multiselect', multiple: false} %>
    </div>
    <div class="field">
      <%= label_tag :event_name %>
      <%= text_field_tag :event_name, params[:event_name] %>
    </div>
    <div class="field">
      <%= label_tag :topic %>
      <%= select_tag :topic_id, options_from_collection_for_select(@topics,:id,:name, params[:topic_id]), { include_blank: true, class: 'multiselect', multiple: false} %>
    </div>
    <div class="field">
      <%= label_tag :interest_level %>
      <%= select_tag :interest_level_id, options_from_collection_for_select(@interest_levels,:id,:name, params[:interest_level_id]), { include_blank: true, class: 'multiselect', multiple: false} %>
    </div>
    <div class="field">
      <%= label_tag :contact %>
      <%= select_tag :contact_id, options_from_collection_for_select(@contacts,:id,:first_and_last_name, params[:contact_id]), { include_blank: true, class: 'multiselect', multiple: false} %>
    </div>
    <div class="field">
      <%= label_tag :others_involved %>
      <%= text_field_tag :others_involved, params[:others_involved] %>
    </div>
    <div class="field">
      <%= label_tag :city %>
      <%= select_tag :city_id, options_from_collection_for_select(@cities,:id,:name_type_state, params[:city_id]), { include_blank: true, class: 'multiselect', multiple: false} %>
    </div>
    <div class="field">
      <%= label_tag :staff_involved %>
      <%= select_tag :staff_involved_id, options_from_collection_for_select(@users,:id,:first_and_last_name, params[:staff_involved_id]), { include_blank: true, class: 'multiselect', multiple: false} %>
    </div>
    <div class="field">
      <%= label_tag :notes %>
      <%= text_field_tag :notes, params[:notes] %>
    </div>
    <div class="actions">
      <%= submit_tag "Search" %>
    </div>
  <% end %>
</div>

<% if @communications.nil? or @communications.count == 0 %>
  <div class="no_data">No data has been entered, or no data matches the filter above.</div>
<% else %>
  <p>
    <%= link_to "Download to Excel", heal_communications_path(format: "xlsx") + "?" + request.query_string %>
  </p>

  <table>
    <thead>
      <tr>
        <th>Date</th>
        <th>Duration (minutes)</th>
        <th>Communication type</th>
        <th>Event name</th>
        <th>Topics</th>
        <th>Interest level</th>
        <th>Contacts</th>
        <th>Others involved</th>
        <th>Cities</th>
        <th>Staff Involved</th>
        <th>Notes</th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @communications.each do |communication| %>
        <tr>
          <td><%= communication.date %></td>
          <td><%= communication.duration_minutes %></td>
          <td><%= communication.communication_type.name %></td>
          <td><%= communication.event_name %></td>
          <td><%= show_comma_separated_list(communication.topics.all, "topics") %></td>
          <td><%= communication.interest_level.name %></td>
          <td><%= show_contacts_list(communication.contacts.all) %></td>
          <td><%= communication.others_involved %></td>
          <td><%= show_cities_list(communication.cities.all, {show_state: true}) %></td>
          <td><%= show_users_list(communication.staff_involved.all) %></td>
          <td><%= communication.notes %></td>
          <td><%= link_to 'Edit', edit_heal_communication_path(communication) %></td>
          <td><%= link_to 'Delete', communication, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= will_paginate @communications %>
<% end %>
