<h1>Communications</h1>

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Duration minutes</th>
      <th>Communication type</th>
      <th>Event name</th>
      <th>Contact interest level</th>
      <th>Notes</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @communications.each do |communication| %>
      <tr>
        <td><%= communication.date %></td>
        <td><%= communication.duration_minutes %></td>
        <td><%= communication.communication_type_id %></td>
        <td><%= communication.event_name %></td>
        <td><%= communication.contact_interest_level_id %></td>
        <td><%= communication.notes %></td>
        <td><%= link_to 'Show', communication %></td>
        <td><%= link_to 'Edit', edit_heal_communication_path(communication) %></td>
        <td><%= link_to 'Destroy', communication, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Communication', new_heal_communication_path %>
