<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @communication.date %>
</p>

<p>
  <strong>Duration (minutes):</strong>
  <%= @communication.duration_minutes %>
</p>

<p>
  <strong>Communication type:</strong>
  <%= @communication.communication_type.name %>
</p>

<p>
  <strong>Event name:</strong>
  <%= @communication.event_name %>
</p>

<p>
  <strong>Topics:</strong>
  <%= show_comma_separated_list(@communication.topics,"topics",{show_all: true}) %>
</p>

<p>
  <strong>Interest level:</strong>
  <%= @communication.interest_level.name %>
</p>

<p>
  <strong>Contacts:</strong>
  <%= show_contacts_list(@communication.contacts, {show_all: true}) %>
</p>

<p>
  <strong>Others Involved:</strong>
  <%= @communication.others_involved %>
</p>

<p>
  <strong>Cities:</strong>
  <%= show_cities_list(@communication.cities,{show_state: true, show_jurisdiction_type: true, show_all: true}) %>
</p>

<p>
  <strong>Staff Involved:</strong>
  <%= show_users_list(@communication.staff_involved,{show_all: true}) %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @communication.notes %>
</p>

<%= link_to 'Edit', edit_heal_communication_path(@communication) %> |
<%= link_to 'Index', heal_communications_path %>
