<%= form_for(@followup_task) do |f| %>
  <% if @followup_task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@followup_task.errors.count, "error") %> prohibited this followup_task from being saved:</h2>

      <ul>
      <% @followup_task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :due_date %>
    <%= f.text_field :due_date, {class: 'datepicker'} %>
  </div>
  <div class="field">
    <%= f.label :assigned_to %>
    <%= f.collection_select :assigned_to_id, @users, :id, :first_and_last_name, {}, {class: 'multiselect', multiple: false} %>
  </div>
  <div class="field">
    <%= f.label :assigned_by_id %>
    <%= f.collection_select :assigned_by_id, @users, :id, :first_and_last_name, {}, {class: 'multiselect', multiple: false} %>
  </div>
  <div class="field">
    <%= f.label :prior_communication %>
    <%= f.collection_select :prior_communication_id, @communications, :id, :summary, {include_blank: true}, {class: 'multiselect', multiple: false} %>
  </div>
  <div class="field">
    <%= f.label :completed %>
    <%= f.check_box :completed %>
  </div>
  <div class="field">
    <%= f.label :completed_date %>
    <%= f.text_field :completed_date, {class: 'datepicker'} %>
  </div>
  <div class="field">
    <%= f.label :completed_by %>
    <%= f.collection_select :completed_by_id, @users, :id, :first_and_last_name, {include_blank: true}, {class: 'multiselect', multiple: false} %>
  </div>
  <div class="field">
    <%= f.label :completion_notes %>
    <%= f.text_area :completion_notes %>
  </div>
  <div class="field">
    <%= label_tag "Send email notification to:" %>
    <% options_array = []
       options_array << ["", 0]
       options_array << [ Heal::FollowupTask::SEND_FOLLOWUP_TO_ASSIGNEE_ONLY[:text] , Heal::FollowupTask::SEND_FOLLOWUP_TO_ASSIGNEE_ONLY[:value] ]
       options_array << [ Heal::FollowupTask::SEND_FOLLOWUP_TO_ASSIGNEE_CC_ASSIGNER[:text] , Heal::FollowupTask::SEND_FOLLOWUP_TO_ASSIGNEE_CC_ASSIGNER[:value] ]
    %>
    <%= select_tag :send_notification, options_for_select(options_array), {class: 'multiselect', multiple: false} %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
