<h1>Followup Tasks</h1>
<% if has_write_permissions? %>
  <%= link_to 'New Followup Task', new_heal_followup_task_path, class: "link-to-new" %> |
<% end %>
<%= link_to "Help", heal_help_task_assignments_path, class: "link-to-new" %>
<br><br>

<div class="filter">
  <%= form_tag request.path, method: 'get' do %>
    <div class="field">
      <%= label_tag "Due date after" %>
      <%= text_field_tag :min_due_date, params[:min_due_date], {class: 'datepicker'} %>
    </div>
    <div class="field">
      <%= label_tag "Due date before" %>
      <%= text_field_tag :max_due_date, params[:max_due_date], {class: 'datepicker'} %>
    </div>
    <div class="field">
      <%= label_tag :description %>
      <%= text_field_tag :description, params[:description] %>
    </div>
    <div class="field">
      <%= label_tag :assigned_to %>
      <%= select_tag :assigned_to_id, options_from_collection_for_select(@users,:id,:first_and_last_name,params[:assigned_to_id]), { :include_blank => true, class: 'multiselect', multiple: false  } %>
    </div>
    <div class="field">
      <%= label_tag :assigned_by %>
      <%= select_tag :assigned_by_id, options_from_collection_for_select(@users,:id,:first_and_last_name,params[:assigned_by_id]), { :include_blank => true, class: 'multiselect', multiple: false  } %>
    </div>
    <div class="field">
      <%= label_tag :completed %>
      <%= select_tag :completed, options_for_select(get_yes_no_options_list,params[:completed]), { :include_blank => true, class: 'multiselect', multiple: false  } %>
    </div>
    <div class="field">
      <%= label_tag "Completed after" %>
      <%= text_field_tag :min_completed_date, params[:min_completed_date], {class: 'datepicker'} %>
    </div>
    <div class="field">
      <%= label_tag "Completed before" %>
      <%= text_field_tag :max_completed_date, params[:max_completed_date], {class: 'datepicker'} %>
    </div>
    <div class="field">
      <%= label_tag :completed_by %>
      <%= select_tag :completed_by_id, options_from_collection_for_select(@users,:id,:first_and_last_name,params[:completed_by_id]), { :include_blank => true, class: 'multiselect', multiple: false  } %>
    </div>
    <div class="field">
      <%= label_tag :completion_notes %>
      <%= text_field_tag :completion_notes, params[:completion_notes] %>
    </div>
    <div class="actions">
      <%= submit_tag "Filter", class: "btn btn-large btn-primary" %>
    </div>
  <% end %>
</div>

<table>
  <thead>
    <tr>
      <th>Due date</th>
      <th>Description</th>
      <th>Assigned to</th>
      <th>Assigned by</th>
      <th>Prior communication</th>
      <th>Completed</th>
      <th>Completed date</th>
      <th>Completed by</th>
      <th>Completion notes</th>
      <% if has_write_permissions? %>
        <th></th>
        <th></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @followup_tasks.each do |followup_task| %>
      <tr>
        <td><%= followup_task.due_date %></td>
        <td><%= followup_task.description %></td>
        <td><%= followup_task.assigned_to.first_and_last_name if followup_task.assigned_to.present? %></td>
        <td><%= followup_task.assigned_by.first_and_last_name %></td>
        <td><%= followup_task.prior_communication.summary if followup_task.prior_communication.present?%></td>
        <td><%= show_boolean(followup_task.completed) %></td>
        <td><%= followup_task.completed_date %></td>
        <td><%= followup_task.completed_by.first_and_last_name if followup_task.completed_by.present? %></td>
        <td><%= followup_task.completion_notes %></td>
        <% if has_write_permissions? %>
          <td><%= link_to 'Edit', edit_heal_followup_task_path(followup_task) %></td>
          <td><%= link_to 'Delete', followup_task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @followup_tasks %>