<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @followup_task.description %>
</p>

<p>
  <strong>Due date:</strong>
  <%= @followup_task.due_date %>
</p>

<p>
  <strong>Assigned to:</strong>
  <%= @followup_task.assigned_to.first_and_last_name if @followup_task.assigned_to.present? %>
</p>

<p>
  <strong>Assigned by:</strong>
  <%= @followup_task.assigned_by.first_and_last_name if @followup_task.assigned_by.present? %>
</p>

<p>
  <strong>Prior communication:</strong>
  <%= @followup_task.prior_communication.summary if @followup_task.prior_communication.present?%>
</p>

<p>
  <strong>Completed:</strong>
  <%= show_boolean(@followup_task.completed) %>
</p>

<p>
  <strong>Completed date:</strong>
  <%= @followup_task.completed_date %>
</p>

<p>
  <strong>Completed by:</strong>
  <%= @followup_task.completed_by.first_and_last_name if @followup_task.completed_by.present? %>
</p>

<p>
  <strong>Completion notes:</strong>
  <%= @followup_task.completion_notes %>
</p>

<%= link_to 'Edit', edit_heal_followup_task_path(@followup_task) %> |
<%= link_to 'Index', heal_followup_tasks_path %>
