<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<p>
  Dear <%= @assigned_to.first_name %>,

  A <%= link_to @followup_task_url, "followup task"%> has just been assigned to you in the <%= @database_name %> Heal Cities database.

  Due date: <%= @followup_task.due_date %>
  Description: <%= @followup_task.description %>
  Assigned by: <%= mail_to @followup_task.assigned_by.email, "#{@followup_task.assigned_by.first_name} #{@followup_task.assigned_by.last_name}" %>
  <% if @followup_task.prior_communication.present?
    com = @followup_task.prior_communication%>

    This is a followup to a <%=link_to @communication_url, com.communication_type.name %> on <%= com.date%>:
    <%= "Event name: #{com.event_name}" if com.event_name.present?%>
    <%= "Contacts: #{show_contacts_list(com.contacts.all)}" if (com.contacts.count > 0)%>
    <%= "Cities: #{show_cities_list(com.cities.all, {show_state: true})}" if (com.cities.count > 0)%>
    <%= "Notes: #{com.notes}" if com.notes.present?%>
  <% end %>
</p>
<p>
  To login to the site, just follow this link: <%= @url %>.
</p>
</body>
</html>