<p id="notice"><%= notice %></p>

<p>
  <strong>Database instance:</strong>
  <%= @survey_email.database_instance_id %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @survey_email.contact_id %>
</p>

<p>
  <strong>Email address:</strong>
  <%= @survey_email.email_address %>
</p>

<p>
  <strong>Sent date:</strong>
  <%= @survey_email.sent_date %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @survey_email.subject %>
</p>

<p>
  <strong>Message:</strong>
  <%= @survey_email.message %>
</p>

<p>
  <strong>Survey monkey respondent:</strong>
  <%= @survey_email.survey_monkey_respondent_id %>
</p>

<p>
  <strong>Response received:</strong>
  <%= @survey_email.response_received %>
</p>

<p>
  <strong>Reminder sent date:</strong>
  <%= @survey_email.reminder_sent_date %>
</p>

<%= link_to 'Edit', edit_heal_survey_email_path(@survey_email) %> |
<%= link_to 'Back', heal_survey_emails_path %>
