<h1>Milestone Types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Order in list</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @milestone_types.each do |milestone_type| %>
      <tr>
        <td><%= milestone_type.name %></td>
        <td><%= milestone_type.order_in_list %></td>
        <td><%= link_to 'Edit', edit_heal_milestone_type_path(milestone_type) %></td>
        <td><%= link_to 'Destroy', milestone_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @milestone_types %>
<br>

<%= link_to 'New Milestone Type', new_heal_milestone_type_path %>
