<%# add navigation links to this file %>
<% if signed_in?
  if current_db.present? && current_db.class == Heal::DatabaseInstance %>
    <li><%= link_to "Communications", heal_communications_path %></li>
    <li><%= link_to "Contacts", heal_contacts_path %></li>
    <li><%= link_to "Cities", heal_cities_path %></li>

    <li id="fat-menu" class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        Successes <b class="caret"></b>
      </a>
      <ul class="dropdown-menu">
        <li><%= link_to "City Designation Achievements", heal_city_designation_achievements_path %></li>
        <li><%= link_to "Resolutions", heal_resolutions_path %></li>
        <li><%= link_to "Policy Adoptions", heal_policy_adoptions_path %></li>
      </ul>
    </li>

    <li id="fat-menu" class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        Task Assignments <b class="caret"></b>
      </a>
      <ul class="dropdown-menu">
        <li><%= link_to "My Assignments", heal_reports_to_do_path%></li>
        <li><%= link_to "Followup", heal_followup_tasks_path %></li>
        <li><%= link_to "City Milestones", heal_milestones_path %></li>
      </ul>
    </li>

    <li id="fat-menu" class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        Reports <b class="caret"></b>
      </a>
      <ul class="dropdown-menu">
        <li><%= link_to "Progress Report", heal_reports_progress_report_path %></li>
        <li><%= link_to "Policy Grid", heal_reports_policy_grid_path %></li>
        <li><%= link_to "Cities Summary", heal_reports_cities_summary_path %></li>
        <li><%= link_to "Contacts Summary", heal_reports_contacts_summary_path %></li>
        <li><%= link_to "Recent Activity", heal_reports_recent_activity_path %></li>
      </ul>
    </li>

    <li id="fat-menu" class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        Setup <b class="caret"></b>
      </a>
      <ul class="dropdown-menu">
        <li><%= link_to "City Designations", heal_city_designations_path %></li>
        <li><%= link_to "Communication Types", heal_communication_types_path  %></li>
        <li><%= link_to "Communication Topics", heal_topics_path %></li>
        <li><%= link_to "Honorifics", heal_honorifics_path %></li>
        <li><%= link_to "Interest Levels", heal_interest_levels_path %></li>
        <li><%= link_to "Jurisdiction Types", heal_jurisdiction_types_path %></li>
        <li><%= link_to "League Divisions", heal_league_divisions_path %></li>
        <li><%= link_to "Milestone Types", heal_milestone_types_path %></li>
        <li><%= link_to "Organization Types", heal_organization_types_path %></li>
        <li><%= link_to "Policies", heal_policies_path %></li>
        <li><%= link_to "Position Types", heal_position_types_path %></li>
        <li><%= link_to "Status Types", heal_status_types_path %></li>
      </ul>
    </li>
  <% end %>
  <% if current_user.admin? %>
    <li id="fat-menu" class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        Admin <b class="caret"></b>
      </a>
      <ul class="dropdown-menu">
        <li><%= link_to "Users", users_path %></li>
        <li><%= link_to "Database Instances", database_instances_path %></li>
        <li><%= link_to "User Permissions", user_permissions_path %></li>
      </ul>
    </li>
  <% end %>
  <li id="fat-menu" class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
      Profile <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
      <li><%= link_to "Edit Profile", profile_edit_path %></li>
      <li><%= link_to "Sign Out", signout_path, method: :delete %></li>
    </ul>
  </li>
  <% if current_db.present? && current_db.class == Heal::DatabaseInstance %>
    <li id="fat-menu" class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        Help <b class="caret"></b>
      </a>
      <ul class="dropdown-menu">
        <li><%= link_to "Getting Started", heal_help_getting_started_path %></li>
        <li><%= link_to "Cities", heal_help_cities_path %></li>
        <li><%= link_to "Contacts", heal_help_contacts_path %></li>
        <li><%= link_to "Communications", heal_help_communications_path %></li>
        <li><%= link_to "Successes", heal_help_successes_path %></li>
        <li><%= link_to "Task Assignments", heal_help_task_assignments_path %></li>
        <li><%= link_to "Reports", heal_help_reports_path %></li>
        <li><%= link_to "Users", heal_help_users_path %></li>
      </ul>
  <% end %>
<% else %>

  <li><%= link_to "Sign In", signin_path %></li>
  <li><%= link_to "About", about_path %></li>

<% end %>
