<%# add navigation links to this file %>
<% if signed_in?
  if current_db.present? and current_db.database_type.internal_name == "HEAL Cities" %>
    <li><%= link_to "Communications", heal_communications_path %></li>
    <li><%= link_to "Contacts", heal_contacts_path %></li>
    <li><%= link_to "Cities", heal_cities_path %></li>

    <li id="fat-menu" class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        Setup <b class="caret"></b>
      </a>
      <ul class="dropdown-menu">
        <li><%= link_to "HEAL City Designations", heal_city_designations_path %></li>
        <li><%= link_to "Honorifics", heal_honorifics_path %></li>
        <li><%= link_to "Communication Types", heal_communication_types_path  %></li>
        <li><%= link_to "Interest Levels", heal_interest_levels_path %></li>
        <li><%= link_to "Jurisdiction Types", heal_jurisdiction_types_path %></li>
        <li><%= link_to "Position Types", heal_position_types_path %></li>
      </ul>
    </li>
  <% end %>
  <% if current_user.admin? %>
    <li id="fat-menu" class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        Admin <b class="caret"></b>
      </a>
      <ul class="dropdown-menu">
        <li><%= link_to "Users", users_path %></li>
        <li><%= link_to "Organizations", organizations_path %></li>
        <li><%= link_to "Database Instances", database_instances_path %></li>
        <li><%= link_to "Database Types", database_types_path %></li>
      </ul>
    </li>
  <% end %>
  <li id="fat-menu" class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
      Profile <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
      <li><%= link_to "Edit Profile", profile_edit_path %></li>
      <li><%= link_to "Sign Out", signout_path, method: :delete %></li>
    </ul>
  </li>
  <li><%= link_to "About", about_path %></li>
<% else %>

  <li><%= link_to "Sign In", signin_path %></li>
  <li><%= link_to "About", about_path %></li>

<% end %>
