<p id="notice"><%= notice %></p>

<p>
  <strong>Database instance:</strong>
  <%= @policy_adoption.database_instance_id %>
</p>

<p>
  <strong>Date:</strong>
  <%= @policy_adoption.date %>
</p>

<p>
  <strong>City:</strong>
  <%= @policy_adoption.city_id %>
</p>

<p>
  <strong>Prior to joining campaign:</strong>
  <%= @policy_adoption.prior_to_joining_campaign %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @policy_adoption.notes %>
</p>

<%= link_to 'Edit', edit_policy_adoption_path(@policy_adoption) %> |
<%= link_to 'Back', policy_adoptions_path %>
